#signin {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #eae8dd;
  padding-top: 200px;
  #title {
    font-size: 2rem;
    text-align: center;
  }
  #signin-parts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    #sign-in-with {
      width: 100%;
      margin: 0px 0 30px 0;
      text-align: center;
      #sign-in-methods {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  #browser-alert {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #signin {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eae8dd;
    padding-top: 100px;
    #title {
      font-size: 2rem;
      text-align: center;
    }
    #signin-parts {
      margin-top: 30px;
      #sign-in-with {
        margin: 100px 0 30px 0;
        text-align: center;
        #sign-in-methods {
          padding: 30px;
        }
      }
    }
  }
  #browser-alert {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
      width: 70%;
      font-size: 0.7rem;
      text-align: left;
    }
  }
}
